<div class="header">
  <div class="header-strip">
    <div class="row">
      <div class="col-sm-2">
        <div class="pill">{{headerDetails.raceNumber}}</div>
      </div>
      <div class="col-sm-7">
        <p>{{headerDetails.trackName}} | {{headerDetails.raceDate}} </p>
        <p>{{headerDetails.raceTime}} {{headerDetails.raceDistance}} {{headerDetails.raceName}}</p>
      </div>
      <div class="col-sm-3">
        <p>Track condition</p>
        <p>Good 3</p>
      </div>
    </div>
  </div>
  <img src="/assets/race-2.jpg">
</div>
